<!DOCTYPE html>
<html>
<head>
    <title>ImageHub</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/images/logo1.png">
    <style>
        body        { 
          padding-top:80px; 
              background: #000001 !important;}
        footer {
          float: right;
          height: 35px;
          margin: 0px 50px 0px 0px;
          color: #000;
          text-align: right;
          padding: 10px 30px;
          width: 180px;
      }
    </style>
</head>
<body>
<div class="container">

   
    <div class="page-header">
        <ul class="nav nav-tabs">
          <li><a href="/">Home</a></li>
          <li><a href="/about"> About Us </a></li>

        </ul>
  </div>
<div class="jumbotron text-center">
<h1><u>DMCA</u></h1>

</div>
  <div style="color:white">
    <div>ImageHub.com respects the intellectual property of others. If you believe that your copyrighted work has been copied in a way that constitutes copyright infringement and is accessible on this site, you may notify our copyright agent, as set forth in the Digital Millennium Copyright Act of 1998 (DMCA).
    </div><br>

    <div>
      
      For your complaint to be valid under the DMCA, you must provide the following information when providing notice of the claimed copyright infringement:
      <br>
      <ul>
          <li>A physical or electronic signature of a person authorized to act on behalf of the copyright owner Identification of the copyrighted work claimed to have been infringed.
          </li>

          <li>Identification of the material that is claimed to be infringing or to be the subject of the infringing activity and that is to be removed</li>
          <li>Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address.</li>

          <li>A statement that the complaining party “in good faith believes that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law”.</li>

          <li>A statement that the “information in the notification is accurate”, and “under penalty of perjury, the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed”</li>
      </ul>
    
    </div><br>

The above information must be submitted as an emailed notification to: support@imagehub.com
<br><br>
<b>WE CAUTION YOU THAT UNDER FEDERAL LAW, IF YOU KNOWINGLY MISREPRESENT THAT ONLINE MATERIAL IS INFRINGING, YOU MAY BE SUBJECT TO HEAVY CIVIL PENALTIES. THESE INCLUDE MONETARY DAMAGES, COURT COSTS, AND ATTORNEYS’ FEES INCURRED BY US, BY ANY COPYRIGHT OWNER, OR BY ANY COPYRIGHT OWNER’S LICENSEE THAT IS INJURED AS A RESULT OF OUR RELYING UPON YOUR MISREPRESENTATION. YOU MAY ALSO BE SUBJECT TO CRIMINAL PROSECUTION FOR PERJURY.
  </b>

</div>
</div>
<footer>
          <a href="http://www.dmca.com/Protection/Status.aspx?ID=ed7716f1-be0a-4c39-8b9a-988b7d28e39c" title="DMCA.com Protection Status" class="dmca-badge"> <img src="/images/dmca_protected.png" alt="DMCA.com Protection Status"></a>  <script src="https://webcdn.streamtest.net/streamtest.js" type="text/javascript"></script> 
</footer>
</body>
</html>